<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931720596979-cb3vp3d3beib07ju95b6bi6mc0spkbma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931720596979-cb3vp3d3beib07ju95b6bi6mc0spkbma</string>
	<key>API_KEY</key>
	<string>AIzaSyBSBMkj8m-ISTnpJ9lR_gs4EP0ivGl6g88</string>
	<key>GCM_SENDER_ID</key>
	<string>931720596979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mani.balance</string>
	<key>PROJECT_ID</key>
	<string>balance-app-9b97e</string>
	<key>STORAGE_BUCKET</key>
	<string>balance-app-9b97e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931720596979:ios:296de55c1ecf912c325686</string>
</dict>
</plist>